In [ ]:
import pandas as pd
#lets verify it works by checking the version
print("Pandas is successfully imported version",pd.__version__)

Pandas is successfully imported version 2.2.2

In [ ]:
#create an empty series
#import the pandas library and aliasing as pd
import pandas as pd
s=pd.Series()
print("Resulatant Empty Series: \n",s)

Resulatant Empty Series:
 Series([], dtype: object)

In [ ]:
#creating a series from python list
#Step 1:Import pandas
import pandas as pd
#create a basic Python list of monthly active users (MAU s) for an app
mau_list=[1500,1800,2100,2500,3000]
#Create a pandas series from the list
monthly_series=pd.Series(mau_list)
#print the series
print("Monthly active users: \n ",monthly_series)

Monthly active users:
  0    1500
1    1800
2    2100
3    2500
4    3000
dtype: int64

In [ ]:
#creating series from numpy array with customize index
import numpy as np
import pandas as pd
#step 1: create a numpy array with daily sales numbers
daily_sales_array = np.array([100, 200, 300, 400, 500])
#step 2: create a series from the numpy array
daily_sales = pd.Series(daily_sales_array,index=  ["Mon", "Tue", "Wed", "Thu", "Fri"])
#step 3: print the series
print("Daily Sales Data: \n",daily_sales)

Daily Sales Data:
 Mon    100
Tue    200
Wed    300
Thu    400
Fri    500
dtype: int64

In [ ]:
#create a dictionary representing country populations in  millions
pop_dict={'India':1400,'USA':332,'China':1441,'Brazil':214}
#creating series from dictionary
ps=pd.Series(pop_dict)
print("Population Data: \n",ps)

Population Data:
 India     1400
USA        332
China     1441
Brazil     214
dtype: int64

In [ ]:
#creating series from scalar value
#Representing a single product price applied across 4 branches
p=pd.Series(999,index=['Miami','Los Angeles','Chicago','Denmark'])
print("Price of Product A across X branches \n",p)

Price of Product A across X branches
 Miami          999
Los Angeles    999
Chicago        999
Denmark        999
dtype: int64

In [ ]:
#Accessing the series elements by position
import pandas as pd
#step 1:create a series with monthly data revenue
monthly_revenue=pd.Series([20,25,30,20,35],index=['jan','feb','mar','apr','may'])
print("January revenue: \n",monthly_revenue[0])
print("May revenue: \n",monthly_revenue[-1])

January revenue:
 20
May revenue:
 35

/tmp/ipython-input-11-3855631740.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("January revenue: \n",monthly_revenue[0])
/tmp/ipython-input-11-3855631740.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("May revenue: \n",monthly_revenue[-1])

In [ ]:
#Accessing by Label
import pandas as pd
#step 1:create a series with monthly data revenue
monthly_revenue=pd.Series([20,25,30,20,35],index=['jan','feb','mar','apr','may'])
#access value for march directly using label
print("Monthly revenye: \n",monthly_revenue['mar'])

Monthly revenye:
 30

In [ ]:
#Slicing using positions
import pandas as pd
#step 1:create a showing number of passengers
p=pd.Series([120,125,130,124,135,140,180],index=['mon','tue','wed','thu','fri','sat','sun'])
#apply various slicing techniques
print("Slicing [1:0:2](tues to sat alternate days)\n",p[1:6:2])
print("Slicing [2:5](wed to fri)\n",p[2:5])
print("Slicing [3:(thurs to sun)\n",p[3:])
print("Slicing [:4](mon to thu)\n",p[:4])
print("Slicing [:](all days)\n",p[:])

Slicing [1:0:2](tues to sat alternate days)
 tue    125
thu    124
sat    140
dtype: int64
Slicing [2:5](wed to fri)
 wed    130
thu    124
fri    135
dtype: int64
Slicing [3:(thurs to sun)
 thu    124
fri    135
sat    140
sun    180
dtype: int64
Slicing [:4](mon to thu)
 mon    120
tue    125
wed    130
thu    124
dtype: int64
Slicing [:](all days)
 mon    120
tue    125
wed    130
thu    124
fri    135
sat    140
sun    180
dtype: int64

In [ ]:
#slicing a pandas series using index labels
import pandas as pd
#create a series of daily ticket sales(in thousands) over a week
ticket_sales=pd.Series([120,125,130,124,135,140,180],index=['2025-04-01','2025-04-02','2025-04-03','2025-04-04','2025-04-05','2025-04-06','2025-04-17'])
#slice sales from april 04 to april 17
selected=ticket_sales['2025-04-04':'2025-04-17']
print("Selected Sales: \n",selected)

Selected Sales:
 2025-04-04    124
2025-04-05    135
2025-04-06    140
2025-04-17    180
dtype: int64

In [ ]:
#conditional access using boolean indexing
h=p[p>130]
print("Days with crowd \n",h)

Days with crowd
 fri    135
sat    140
sun    180
dtype: int64

In [ ]:
#access using .get() to avoid errors
import pandas as pd
# create a series of average delay times(in  minutes )for flights over a week
print(p.get('wes',"Data not found"))

Data not found

In [ ]:
#example using all three attributes -dtype, shape and index of the series
print("Data type",ps.dtype)
print("Total records:",ps.shape)
print("Index Labels:",ps.index)

Data type int64
Total records: (4,)
Index Labels: Index(['India', 'USA', 'China', 'Brazil'], dtype='object')

In [ ]:
# Logical Operations on Series
#Monthly Cloud Costs
c=pd.Series([12000,13500,11000,14500,15000,12500],index=['jan','feb','mar','apr','may','jun'])
#find where cost exceeds 13000
h=c>13000
#outlier months where cost is either below 12k and 14.5k
outlier_months=(c<12000)|(c>14500)
#negate condition find months not exceeding 12k
w=~h
#use boolean mask to extract high cost values
f=c[h]
#use where() to keep values only above 13k others become nan
where_example=c.where(c>13000)
#use mask to hide costs below 13000
mask=c.mask(c<13000)
#use clip to restrict all values between 12k and 14k
clip_example=c.clip(lower=12000,upper=14500)
#print everything
print("Cost\n",c)
print("Months with cost>13k\n",h)
print("Outlier months\n",outlier_months)
print("Within Budget\n",w)
print("Filtered high costs:\n",f)
print("Using where\n",where_example)
print("Using mask\n",mask)
print("Using clip\n",clip_example)

Cost
 jan    12000
feb    13500
mar    11000
apr    14500
may    15000
jun    12500
dtype: int64
Months with cost>13k
 jan    False
feb     True
mar    False
apr     True
may     True
jun    False
dtype: bool
Outlier months
 jan    False
feb    False
mar     True
apr    False
may     True
jun    False
dtype: bool
Within Budget
 jan     True
feb    False
mar     True
apr    False
may    False
jun     True
dtype: bool
Filtered high costs:
 feb    13500
apr    14500
may    15000
dtype: int64
Using where
 jan        NaN
feb    13500.0
mar        NaN
apr    14500.0
may    15000.0
jun        NaN
dtype: float64
Using mask
 jan        NaN
feb    13500.0
mar        NaN
apr    14500.0
may    15000.0
jun        NaN
dtype: float64
Using clip
 jan    12000
feb    13500
mar    12000
apr    14500
may    14500
jun    12500
dtype: int64

In [ ]:
#Mapping Department codes to names in a payroll system
#Department codes of employees
department_codes=pd.Series(['HR','ENG','MKT','HR','FIN','ENG'])
#Mapping to Full department names
dept_names={'HR':'Human Resource','ENG':'Engineering','MKT':'Marketing','FIN':'Finance'}
print("Before mapping:\n",department_codes)
#mapping with map
mapped=department_codes.map(dept_names)
print("Mapped:\n ",mapped)

Before mapping:
 0     HR
1    ENG
2    MKT
3     HR
4    FIN
5    ENG
dtype: object
Mapped:
  0    Human Resource
1       Engineering
2         Marketing
3    Human Resource
4           Finance
5       Engineering
dtype: object

In [ ]:
#creating data frame from dictionary
import pandas as pd
import numpy as np
#create a dictionary of keys representing column names where each key has values which corresponds to their health
cd={'Patient ID:':['P101','P102','P103','P104','P105','P106','P107','P108','P109','P110'],
    'Age':[45,54,38,92,50,25,26,78,90,47],
    'Cholesterol_mg_dL':[190,205,170,180,160,110,150,190,187,168],
    'On-Statins':[True,False,True,False,True,False,False,True,True,False]
    }
df_medical=pd.DataFrame(cd)
print(df_medical)

  Patient ID:  Age  Cholesterol_mg_dL  On-Statins
0        P101   45                190        True
1        P102   54                205       False
2        P103   38                170        True
3        P104   92                180       False
4        P105   50                160        True
5        P106   25                110       False
6        P107   26                150       False
7        P108   78                190        True
8        P109   90                187        True
9        P110   47                168       False

In [ ]:
#creating data frame from list
data=[1,2,3,4,5]
df=pd.DataFrame(data)
print(df)
#creating dataframe from numpy array
data=np.array([1,2,3,4,5,6,7,8,9,10])
df=pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [ ]:
#Creating dataframe from CSV file
df_medical.to_csv('cd.csv',index=False)
df_loaded=pd.read_csv('cd.csv')
print(df_loaded)

  Patient ID:  Age  Cholesterol_mg_dL  On-Statins
0        P101   45                190        True
1        P102   54                205       False
2        P103   38                170        True
3        P104   92                180       False
4        P105   50                160        True

In [ ]:
#view first 5 rows of the dataframe

df_medical.info()
print("Describe the dataframe \n",df_medical.describe())
print("\n Detailed Description of the dataframe\n",df_medical.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient ID:        10 non-null     object
 1   Age                10 non-null     int64
 2   Cholesterol_mg_dL  10 non-null     int64
 3   On-Statins         10 non-null     bool
dtypes: bool(1), int64(2), object(1)
memory usage: 382.0+ bytes
Describe the dataframe
              Age  Cholesterol_mg_dL
count  10.000000          10.000000
mean   54.500000         171.000000
std    24.359575          26.890725
min    25.000000         110.000000
25%    39.750000         162.000000
50%    48.500000         175.000000
75%    72.000000         189.250000
max    92.000000         205.000000

 Detailed Description of the dataframe
        Patient ID:        Age  Cholesterol_mg_dL On-Statins
count           10  10.000000          10.000000         10
unique          10        NaN                NaN          2
top           P101        NaN                NaN       True
freq             1        NaN                NaN          5
mean           NaN  54.500000         171.000000        NaN
std            NaN  24.359575          26.890725        NaN
min            NaN  25.000000         110.000000        NaN
25%            NaN  39.750000         162.000000        NaN
50%            NaN  48.500000         175.000000        NaN
75%            NaN  72.000000         189.250000        NaN
max            NaN  92.000000         205.000000        NaN

In [ ]:
#loc[] access rows and columns using label(names)
#get details of patients
da=df_medical.loc[:,['Patient ID:','Age']]
print(da)
statin=df_medical.loc[df_medical['On-Statins']==True]
print("Patients that are on statins:\n",statin)

  Patient ID:  Age
0        P101   45
1        P102   54
2        P103   38
3        P104   92
4        P105   50
5        P106   25
6        P107   26
7        P108   78
8        P109   90
9        P110   47
Patients that are on statins:
   Patient ID:  Age  Cholesterol_mg_dL  On-Statins
0        P101   45                190        True
2        P103   38                170        True
4        P105   50                160        True
7        P108   78                190        True
8        P109   90                187        True

In [ ]:
#iloc Access rows and colums using positional indices
first_two=df_medical.iloc[0:2]
print(first_two)
age_cholesterol=df_medical.iloc[:,[1,2]]
print("Age and Cholesterol of all the patients:\n",age_cholesterol)

  Patient ID:  Age  Cholesterol_mg_dL  On-Statins
0        P101   45                190        True
1        P102   54                205       False
Age and Cholesterol of all the patients:
    Age  Cholesterol_mg_dL
0   45                190
1   54                205
2   38                170
3   92                180
4   50                160
5   25                110
6   26                150
7   78                190
8   90                187
9   47                168

In [ ]:
#at function
w=df_medical.at[1,'Patient ID:']
print(w)
#iat function
x=df_medical.iat[0,0]
print("Patient ID of first patient:\n",x)

P102
Patient ID of first patient:
 P101

In [ ]:
#modify data frame data
df_medical['Age']=df_medical['Age']*12
print("DataFrame after converting age in years into months:\n",df_medical)

DataFrame after converting age in years into months:
   Patient ID:   Age  Cholesterol_mg_dL  On-Statins
0        P101   540                190        True
1        P102   648                205       False
2        P103   456                170        True
3        P104  1104                180       False
4        P105   600                160        True
5        P106   300                110       False
6        P107   312                150       False
7        P108   936                190        True
8        P109  1080                187        True
9        P110   564                168       False

In [ ]:
print("On-Statins\n",df_medical['On-Statins'])
df_medical.loc[df_medical['On-Statins']==True,'On-Statins']='1'
print("On-Statins\n",df_medical)

On-Statins
 0     True
1    False
2     True
3    False
4     True
5    False
6    False
7     True
8     True
9    False
Name: On-Statins, dtype: bool
On-Statins
   Patient ID:   Age  Cholesterol_mg_dL On-Statins
0        P101   540                190          1
1        P102   648                205      False
2        P103   456                170          1
3        P104  1104                180      False
4        P105   600                160          1
5        P106   300                110      False
6        P107   312                150      False
7        P108   936                190          1
8        P109  1080                187          1
9        P110   564                168      False

/tmp/ipython-input-70-1194238634.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_medical.loc[df_medical['On-Statins']==True,'On-Statins']='1'

In [ ]:
df = pd.DataFrame({
    'ShipmentID': [1001, 1002, 1003, 1004, 1005],
    'Weight_kg': [12.5, 8.0, 15.0, 7.5, 10.0],
    'Status': ['Delivered', 'In Transit', 'Delayed', 'Delivered', 'Delayed'],
    'Fragile': [True, False, True, False, True],
    'Shipping_Type': ['Air', 'Ground', 'Air', 'Ground', 'Air']
})

In [ ]:
import pandas as pd
d= {
    "ShipmentID": [103, 101, 105, 102, 104],
    "OriginPort": ["Shanghai", "Rotterdam", "Singapore", "Dubai", "Los Angeles"],
    "DestinationPort": ["New York", "Hamburg", "London", "Tokyo", "Mumbai"],
    "Weight_Tons": [15.4, 25.1, 12.3, 18.7, 20.5],
    "DepartureDate": pd.to_datetime([
        "2024-09-01", "2024-08-25", "2024-09-10", "2024-08-28", "2024-09-03"
    ])
}
df=pd.DataFrame(d)
print(d)
sorted=df.sort_values(by='Weight_Tons',ascending=True)
print("Sorted by weight:\n",sorted)

{'ShipmentID': [103, 101, 105, 102, 104], 'OriginPort': ['Shanghai', 'Rotterdam', 'Singapore', 'Dubai', 'Los Angeles'], 'DestinationPort': ['New York', 'Hamburg', 'London', 'Tokyo', 'Mumbai'], 'Weight_Tons': [15.4, 25.1, 12.3, 18.7, 20.5], 'DepartureDate': DatetimeIndex(['2024-09-01', '2024-08-25', '2024-09-10', '2024-08-28',
               '2024-09-03'],
              dtype='datetime64[ns]', freq=None)}
Sorted by weight:
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
2         105    Singapore          London         12.3    2024-09-10
0         103     Shanghai        New York         15.4    2024-09-01
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25
Sorted by origin and destination:
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25
0         103     Shanghai        New York         15.4    2024-09-01
2         105    Singapore          London         12.3    2024-09-10

In [ ]:
#sort by original prt alphabetically and then by weight_tons
sort=df.sort_values(by=['OriginPort','Weight_Tons'],ascending=[True,False])
print("Sorted by origin and weight in tons:\n",sort)

Sorted by origin and weight in tons:
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25
0         103     Shanghai        New York         15.4    2024-09-01
2         105    Singapore          London         12.3    2024-09-10

In [ ]:
#set shipment id as index and sort by index
s=df.set_index('ShipmentID')
sort=s.sort_index()
print("Sorted by index:\n",sort)

Sorted by index:
              OriginPort DestinationPort  Weight_Tons DepartureDate
ShipmentID
101           Rotterdam         Hamburg         25.1    2024-08-25
102               Dubai           Tokyo         18.7    2024-08-28
103            Shanghai        New York         15.4    2024-09-01
104         Los Angeles          Mumbai         20.5    2024-09-03
105           Singapore          London         12.3    2024-09-10

In [ ]:
#sort the dataframe by weight tons using quick sort algo
sort=df.sort_values(by='Weight_Tons',kind='quicksort')
print("Sorted by weight using quick sort :\n",sort)

Sorted by weight using quick sort :
    ShipmentID   OriginPort DestinationPort  Weight_Tons DepartureDate
2         105    Singapore          London         12.3    2024-09-10
0         103     Shanghai        New York         15.4    2024-09-01
3         102        Dubai           Tokyo         18.7    2024-08-28
4         104  Los Angeles          Mumbai         20.5    2024-09-03
1         101    Rotterdam         Hamburg         25.1    2024-08-25

In [ ]:
# Original DataFrame with vegetation zones
veg_df = pd.DataFrame({
    'Zone': ['Tundra', 'Taiga', 'Desert', 'Savanna', 'Rainforest'],
    'Continent': ['Arctic', 'Asia', 'Africa', 'Africa', 'South America'],
    'Avg_Temp_C': [-10, -5, 35, 28, 26]
})
print(veg_df)
veg_df=veg_df.set_index('Zone')
print("\n Original world vegetarian set: \n",veg_df)
#new desired order of vegetation zones
new=['Rainforest','Savanna','Steppe','Desert','Taiga','Tundra']
reindex=veg_df.reindex(new)
print("Reindexed set:\n",reindex)

         Zone      Continent  Avg_Temp_C
0      Tundra         Arctic         -10
1       Taiga           Asia          -5
2      Desert         Africa          35
3     Savanna         Africa          28
4  Rainforest  South America          26

 Original world vegetarian set:
                 Continent  Avg_Temp_C
Zone
Tundra             Arctic         -10
Taiga                Asia          -5
Desert             Africa          35
Savanna            Africa          28
Rainforest  South America          26
Reindexed set:
                 Continent  Avg_Temp_C
Zone
Rainforest  South America        26.0
Savanna            Africa        28.0
Steppe                NaN         NaN
Desert             Africa        35.0
Taiga                Asia        -5.0
Tundra             Arctic       -10.0

In [ ]:
#reindexing column
reindex_column=veg_df.reindex(columns=['Avg_Temp_C','Continent'])
print("Reindexed column:\n",reindex_column)

Reindexed column:
             Avg_Temp_C      Continent
Zone
Tundra             -10         Arctic
Taiga               -5           Asia
Desert              35         Africa
Savanna             28         Africa
Rainforest          26  South America

In [ ]:
# fill missing values while reindexing
#reindexing and filling the missing values with defaults and printing
refill=veg_df.reindex(new,fill_value='Data NA')
print("Refill missing values:\n",refill)

Refill missing values:
                 Continent Avg_Temp_C
Zone
Rainforest  South America         26
Savanna            Africa         28
Steppe            Data NA    Data NA
Desert             Africa         35
Taiga                Asia         -5
Tundra             Arctic        -10

In [ ]:
#iteration
geo_df = pd.DataFrame({
    'Region': ['Amazon Basin', 'Sahara Desert', 'Himalayas', 'Great Plains'],
    'Elevation_m': [200, 450, 5200, 600],          # Elevation in meters
    'Rainfall_mm': [2200, 50, 1200, 900]           # Rainfall in millimeters
})
for index,row in geo_df.iterrows():
    print(f"Region:{row['Region']},Elevation:{row['Elevation_m']}m")

Region:Amazon Basin,Elevation:200m
Region:Sahara Desert,Elevation:450m
Region:Himalayas,Elevation:5200m
Region:Great Plains,Elevation:600m

In [ ]:
#Iterating with itertuples()
#using itertuples for faster row wise iteration
for row in geo_df.itertuples(index=False):
    print(f"{row.Region} receives about {row.Rainfall_mm}mm rainfall annually. ")

Amazon Basin receives about 2200mm rainfall annually.
Sahara Desert receives about 50mm rainfall annually.
Himalayas receives about 1200mm rainfall annually.
Great Plains receives about 900mm rainfall annually.

In [ ]:
#Column wise iteration with items
for column_name,column_data in geo_df.items():
  print(f"\n Column :{column_name}")
  print(f"\n Column data{column_data.tolist()}")

 Column :Region

 Column data['Amazon Basin', 'Sahara Desert', 'Himalayas', 'Great Plains']

 Column :Elevation_m

 Column data[200, 450, 5200, 600]

 Column :Rainfall_mm

 Column data[2200, 50, 1200, 900]

In [ ]:
# Northern climate data
north_df = pd.DataFrame({
    'Region': ['Arctic Circle', 'Northern Tundra'],
    'Avg_Temp_C': [-15, -10],
    'Biome': ['Tundra', 'Taiga']
})
print("Northern Climate Data\n", north_df)

# Southern climate data
south_df = pd.DataFrame({
    'Region': ['Amazon Basin', 'Patagonian Steppe'],
    'Avg_Temp_C': [27, 10],
    'Biome': ['Rainforest', 'Steppe']
})
print("\nSouthern Climate Data\n", south_df)
#rowwise concatenation of north_df and south_df
row = pd.concat([north_df, south_df], axis=0, ignore_index=True)
print("\nRow-wise Concatenation:\n", row)
#columwise concatenation
column = pd.concat([north_df, south_df], axis=1)
print("\nColumn-wise Concatenation:\n", column)
#concatenation with keys
keys = pd.concat([north_df, south_df], keys=['North', 'South'])
print("\nConcatenation with Keys:\n", keys)

Northern Climate Data
             Region  Avg_Temp_C   Biome
0    Arctic Circle         -15  Tundra
1  Northern Tundra         -10   Taiga

Southern Climate Data
               Region  Avg_Temp_C       Biome
0       Amazon Basin          27  Rainforest
1  Patagonian Steppe          10      Steppe

Row-wise Concatenation:
               Region  Avg_Temp_C       Biome
0      Arctic Circle         -15      Tundra
1    Northern Tundra         -10       Taiga
2       Amazon Basin          27  Rainforest
3  Patagonian Steppe          10      Steppe

Column-wise Concatenation:
             Region  Avg_Temp_C   Biome             Region  Avg_Temp_C  \
0    Arctic Circle         -15  Tundra       Amazon Basin          27
1  Northern Tundra         -10   Taiga  Patagonian Steppe          10

        Biome
0  Rainforest
1      Steppe

Concatenation with Keys:
                     Region  Avg_Temp_C       Biome
North 0      Arctic Circle         -15      Tundra
      1    Northern Tundra         -10       Taiga
South 0       Amazon Basin          27  Rainforest
      1  Patagonian Steppe          10      Steppe

In [ ]:
#working with text data
data = {
    'Passenger': ['Alice', 'Bob', 'Carlos', 'Diana', 'Eva'],
    'Review': [
        'The flight was excellent and on time',
        'terrible service and rude crew',
        'food was okay but legroom was cramped',
        'Loved the inflight entertainment options!',
        'flight delayed by 3 hours, very annoying'
    ],
    'Airline': ['Delta', 'United', 'Lufthansa', 'Emirates', 'Qantas']
}
df=pd.DataFrame(data)
#text Cleaning and filtering
#convert all reviews to lowercase for normalisation
df['Review_lower']=df['Review'].str.lower()
#check if the word delayed is in the review
df['Contains_Delayed']=df['Review_lower'].str.contains('delayed')
#replace the world terrible with poor
df['Cleaned_Review']=df['Review_lower'].str.replace('terrible','poor',regex=False)
#count no of characters in the review
df['Review_length']=df['Review'].str.len()
#extract the first word using regex
df['First_Word']=df['Review'].str.extract(r'^(\w+)*')
#print the updated data frame
print(df)

  Passenger                                     Review    Airline  \
0     Alice       The flight was excellent and on time      Delta
1       Bob             terrible service and rude crew     United
2    Carlos      food was okay but legroom was cramped  Lufthansa
3     Diana  Loved the inflight entertainment options!   Emirates
4       Eva   flight delayed by 3 hours, very annoying     Qantas

                                Review_lower  Contains_Delayed  \
0       the flight was excellent and on time             False
1             terrible service and rude crew             False
2      food was okay but legroom was cramped             False
3  loved the inflight entertainment options!             False
4   flight delayed by 3 hours, very annoying              True

                              Cleaned_Review  Review_length First_Word
0       the flight was excellent and on time             36        The
1                 poor service and rude crew             30   terrible
2      food was okay but legroom was cramped             37       food
3  loved the inflight entertainment options!             41      Loved
4   flight delayed by 3 hours, very annoying             40     flight

In [ ]:
data = {
    'ShipmentID': ['S001', 'S002', 'S003', 'S004', 'S005'],
    'PortOfOrigin': ['Shanghai', 'Hamburg', 'Singapore', 'Rotterdam', 'Mumbai'],
    'ShipmentStatus': ['In Transit', 'Delivered', 'Delayed', 'In Transit', 'Delivered']
}
df=pd.DataFrame(data)
#convert shipment status to categorical data
df['ShipmentStatus']=pd.Categorical(df['ShipmentStatus'])
print(df)
print("Data types:\n",df.dtypes)

  ShipmentID PortOfOrigin ShipmentStatus
0       S001     Shanghai     In Transit
1       S002      Hamburg      Delivered
2       S003    Singapore        Delayed
3       S004    Rotterdam     In Transit
4       S005       Mumbai      Delivered
Data types:
 ShipmentID          object
PortOfOrigin        object
ShipmentStatus    category
dtype: object

In [ ]:
#sorting ordering and comparison
status_order=['Delayed','In Transit','Delivered']
df['ShipmentStatus']=pd.Categorical(df['ShipmentStatus'],categories=status_order,ordered=True)
sorted_df=df.sort_values('ShipmentStatus')
print("Sorted by shipment status:\n",sorted_df)

Sorted by shipment status:
   ShipmentID PortOfOrigin ShipmentStatus
2       S003    Singapore        Delayed
0       S001     Shanghai     In Transit
3       S004    Rotterdam     In Transit
1       S002      Hamburg      Delivered
4       S005       Mumbai      Delivered

In [ ]:
#Memory Optimization with categoricals
import numpy as np
data = {
    'PatientID': ['P001', 'P002', 'P003', 'P004', 'P005'],
    'Temperature_C': [36.6, np.nan, 38.1, 37.5, np.nan],
    'Blood_Pressure': ['120/80', '130/85', np.nan, '110/70', '125/82'],
    'Heart_Rate': [72, 85, 88, np.nan, np.nan],
    'Respiratory_Rate': [18, np.nan, 20, 19, 21]
}
df=pd.DataFrame(data)
print(df)

  PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002            NaN         130/85        85.0               NaN
2      P003           38.1            NaN        88.0              20.0
3      P004           37.5         110/70         NaN              19.0
4      P005            NaN         125/82         NaN              21.0

In [ ]:
#detecting missing values
missingvalues=df.isna()
missing=df.isna().sum()
print("Mising matrix:",missingvalues)
print("Missing counts:\n",missing)

Mising matrix:    PatientID  Temperature_C  Blood_Pressure  Heart_Rate  Respiratory_Rate
0      False          False           False       False             False
1      False          False           False       False              True
2      False          False            True       False             False
3      False          False           False       False             False
4      False          False           False       False             False
Missing counts:
 PatientID           0
Temperature_C       0
Blood_Pressure      1
Heart_Rate          0
Respiratory_Rate    1
dtype: int64

In [ ]:
df['Temperature_C']=df['Temperature_C'].fillna(df['Temperature_C'].mean())
df['Heart_Rate']=df['Heart_Rate'].fillna(75)
print("\n After filling rows with all vitals missing:\n",df)
df_dropped=df.dropna(how='all', subset=['Temperature_C','Blood_Pressure','Heart_Rate','Respiratory_Rate'])
print("\n After dropping rows with all vitals missing:\n",df_dropped)

 After filling rows with all vitals missing:
   PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002           37.4         130/85        85.0               NaN
2      P003           38.1            NaN        88.0              20.0
3      P004           37.5         110/70        75.0              19.0
4      P005           37.4         125/82        75.0              21.0

 After dropping rows with all vitals missing:
   PatientID  Temperature_C Blood_Pressure  Heart_Rate  Respiratory_Rate
0      P001           36.6         120/80        72.0              18.0
1      P002           37.4         130/85        85.0               NaN
2      P003           38.1            NaN        88.0              20.0
3      P004           37.5         110/70        75.0              19.0
4      P005           37.4         125/82        75.0              21.0

In [ ]:
data = {
    'Container_ID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002'],
    'Origin_Port': ['Shanghai', 'Rotterdam', 'Dubai', 'Shanghai', 'Singapore', 'Rotterdam'],
    'Destination_Port': ['Los Angeles', 'New York', 'Hamburg', 'Los Angeles', 'Tokyo', 'New York'],
    'Weight_Tons': [20, 25, 18, 20, 30, 25]
}
df=pd.DataFrame(data)
print(df.duplicated())
df_dedup=df.drop_duplicates()
print(df_dedup)
df_unique_characters=df.drop_duplicates(subset=['Container_ID'])
print(df_unique_characters)

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool
  Container_ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
4         C004   Singapore            Tokyo           30
  Container_ID Origin_Port Destination_Port  Weight_Tons
0         C001    Shanghai      Los Angeles           20
1         C002   Rotterdam         New York           25
2         C003       Dubai          Hamburg           18
4         C004   Singapore            Tokyo           30

In [ ]:
data = {
    'Container_ID': ['C001', 'C002', 'C003', 'C001', 'C004', 'C002'],
    'Origin_Port': ['Shanghai', 'Rotterdam', 'Dubai', 'Shanghai', 'Singapore', 'Rotterdam'],
    'Destination_Port': ['Los Angeles', 'New York', 'Hamburg', 'Los Angeles', 'Tokyo', 'New York'],
    'Weight_Tons': [20, 25, 18, 20, 30, 25]
}
df=pd.DataFrame(data)
uniq=df['Destination_Port'].unique()
print("Unique Destination Port:\n",uniq)
#unique container ids
uniq_id=df['Container_ID'].unique()
print("Unique Container IDs:\n",uniq_id)
#print frequency of each origin port
port_freq=df['Origin_Port'].value_counts()
print("Frequency of Origin Ports:\n",port_freq)

Unique Destination Port:
 ['Los Angeles' 'New York' 'Hamburg' 'Tokyo']
Unique Container IDs:
 ['C001' 'C002' 'C003' 'C004']
Frequency of Origin Ports:
 Origin_Port
Shanghai     2
Rotterdam    2
Dubai        1
Singapore    1
Name: count, dtype: int64

In [ ]:
#Dataframe w dupes col labels
df_dupes = pd.DataFrame([[1,2,3], [4,5,6]], columns=['A', 'B', 'A'])
print("Duplicated col:\n", df_dupes.columns.duplicated())

# craete sample datframe w dupes row indices
df_dupes = pd.DataFrame({'Shipment': ['Box1', 'Box2', 'Box3'],
                         'Weight': [10, 20, 30]}, index=[0, 1, 1])
print("Duplicated index:\n", df_dupes.index.duplicated())

Duplicated col:
 [False False  True]
Duplicated index:
 [False False  True]

In [ ]:
ota_data = pd.DataFrame({
    'PassengerID': [101, 102, 103],
    'Origin': ['JFK', 'LHR', 'DXB'],
    'Destination': ['CDG', 'DEL', 'HND'],
    'FareUSD': [520, 690, 830]
})

# Create Airline website bookings DataFrame
airline_data = pd.DataFrame({
    'PassengerID': [104, 105],
    'Origin': ['SIN', 'SFO'],
    'Destination': ['SYD', 'ICN'],
    'FareUSD': [720, 640]
})

# Combine both datasets vertically (row-wise)
combined_data = pd.concat([ota_data, airline_data], ignore_index=True)

print(combined_data)

   PassengerID Origin Destination  FareUSD
0          101    JFK         CDG      520
1          102    LHR         DEL      690
2          103    DXB         HND      830
3          104    SIN         SYD      720
4          105    SFO         ICN      640

In [ ]:
tickets = pd.DataFrame({
    'PassengerID': [101, 102, 103],
    'Origin': ['JFK', 'LHR', 'DXB'],
    'Destination': ['CDG', 'DEL', 'HND']
})

# Airport metadata
airports = pd.DataFrame({
    'AirportCode': ['JFK', 'LHR', 'DXB', 'CDG', 'DEL', 'HND'],
    'Country': ['USA', 'UK', 'UAE', 'France', 'India', 'Japan']
})
merge=tickets.merge(airports,how='left',left_on='Origin',right_on='AirportCode')
print(merged)

   PassengerID Origin Destination AirportCode Country
0        101.0    JFK         CDG         JFK     USA
1        102.0    LHR         DEL         LHR      UK
2        103.0    DXB         HND         DXB     UAE
3          NaN    NaN         NaN         CDG  France
4          NaN    NaN         NaN         DEL   India
5          NaN    NaN         NaN         HND   Japan

In [ ]:
schedule_df = pd.DataFrame({
    'FlightNo': ['AI101', 'BA204', 'LH789', 'EK501'],
    'Origin': ['Delhi', 'London', 'Frankfurt', 'Dubai'],
    'Destination': ['New York', 'Mumbai', 'Tokyo', 'Singapore']
}).set_index('FlightNo')

# Prices DataFrame: ticket prices
prices_df = pd.DataFrame({
    'FlightNo': ['AI101', 'BA204', 'SQ802', 'EK501'],
    'FareUSD': [850, 920, 780, 730]
}).set_index('FlightNo')
left_join=schedule_df.join(prices_df,how='left')
print(left_join)
right_join=schedule_df.join(prices_df,how='right')
print(right_join)
inner_join=schedule_df.join(prices_df,how='inner')
print(inner_join)
outer_join=schedule_df.join(prices_df,how='outer')
print(outer_join)

             Origin Destination  FareUSD
FlightNo
AI101         Delhi    New York    850.0
BA204        London      Mumbai    920.0
LH789     Frankfurt       Tokyo      NaN
EK501         Dubai   Singapore    730.0
          Origin Destination  FareUSD
FlightNo
AI101      Delhi    New York      850
BA204     London      Mumbai      920
SQ802        NaN         NaN      780
EK501      Dubai   Singapore      730
          Origin Destination  FareUSD
FlightNo
AI101      Delhi    New York      850
BA204     London      Mumbai      920
EK501      Dubai   Singapore      730
             Origin Destination  FareUSD
FlightNo
AI101         Delhi    New York    850.0
BA204        London      Mumbai    920.0
EK501         Dubai   Singapore    730.0
LH789     Frankfurt       Tokyo      NaN
SQ802           NaN         NaN    780.0

In [ ]:
fare_data = pd.DataFrame({
    'Route': ['NYC-LON', 'NYC-LON', 'NYC-LON', 'DEL-TYO', 'DEL-TYO', 'DEL-TYO'],
    'Class': ['Economy', 'Business', 'First', 'Economy', 'Business', 'First'],
    'FareUSD': [500, 1200, 2200, 450, 1100, 2100]
})
print("All Data \n",fare_data)
#Printing Pivoted data one row per route one column per class
pivoted_fares=fare_data.pivot(index='Route',columns='Class',values='FareUSD')
print("Pivoted Data \n",pivoted_fares)

All Data
      Route     Class  FareUSD
0  NYC-LON   Economy      500
1  NYC-LON  Business     1200
2  NYC-LON     First     2200
3  DEL-TYO   Economy      450
4  DEL-TYO  Business     1100
5  DEL-TYO     First     2100
Pivoted Data
 Class    Business  Economy  First
Route
DEL-TYO      1100      450   2100
NYC-LON      1200      500   2200

In [ ]:
#pivot table-Average fair by origin and price
fare_data = pd.DataFrame({
    'Route': ['NYC-LON', 'NYC-LON', 'NYC-LON', 'DEL-TYO', 'DEL-TYO', 'DEL-TYO'],
    'Class': ['Economy', 'Business', 'First', 'Economy', 'Business', 'First'],
    'FareUSD': [500, 1200, 2200, 450, 1100, 2100]
})
pivot_table=fare_data.pivot_table(values='FareUSD',index='Route',columns='Class',aggfunc='mean')
print("Pivot Table\n",pivot_table)

Pivot Table
 Class    Business  Economy   First
Route
DEL-TYO    1100.0    450.0  2100.0
NYC-LON    1200.0    500.0  2200.0